html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

p, label {
    font-weight: 300;
}

button, input, select, textarea {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    transition: 0.5s;
}

button:hover {
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

input, select, textarea {
    background: #fff;
}

/* NAVBAR */

.navbar {
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar.footer {
    position: relative;
    margin-bottom: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul.navbar-left {
    float: left;
}

.navbar ul.navbar-right {
    float: right;
    padding-inline-end: 40px;
}

.navbar ul.navbar-center {
    justify-content: center;
}

.navbar ul li a {
    padding: 20px 50px;
    width: 100px;
    text-align: center;
    font-weight: 300;
    transition: 0.5s;
}

.navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* BACKGROUND */

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), 
        url("images/wallpaper.jpg");
    background-size: cover;
    object-fit: none;
}

/* CONTENT BLOCKS */

.content-container {
    position: relative;
    top: 0;
    left: 0;
}

.content {
  margin: 100px auto;
  width: 75%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  z-index: 100;
}

.content.main {
    padding: 10% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.transparent {
    background: none;
    color: white;
}

.transparent a {
    color: aliceblue;
}

.flex {
  display: flex;
  flex-direction: row;
}

#greeting-container {
  margin-top: 20px;
}

.title {
    font-size: 3em;
}

.content-left, .content-right {
    padding: 20px;
}

.content-left {
    width: 50%
}

.content-right {
    width: 50%;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    margin: 20px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.caption {
    color: darkolivegreen;
    font-style: italic;
    margin: 20px;
}

/* MAP */

#map {
    height: 500px;
}

#info-window {
    color: black;
}

#info-window a {
    color: blue;
}

/* COMMENTS */

#comments-container {
    list-style: none;
    padding-inline-start: 0;
}

#comments-container li {
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
}

#comments-container li .comment:before,
#comments-container li .comment:after {
    content: '"'
}

#comments-container li .nickname,
#comments-container li .email {
    color: lightblue;
    font-style: italic;
    margin-left: 5px;
}

#comments-container li .score {
    float: right;
}

/* CHARTS */
#chart-div-timeline {
    width: 100%;
}